<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
         <li><%= link_to "Home" , root_path  %></li>
          <li><%= link_to "new invoices" ,  new_invoice_path  %></li>
          <li><%= link_to "About us" , welcome_About_path  %></li>
          <li><%= link_to "Contact" , welcome_Contact_path  %></li>
         <li> <%= link_to "Features" , welcome_Features_path  %></li>
         <li> <%= link_to "FAQs" , welcome_Faq_path  %></li>
          <li><%= link_to "Pricing" , welcome_Pricing_path  %></li>
          <li><%= link_to "Invoices" , invoices_path  %></li>
          
          <% if current user %>
            <li><%= link_to "Log out" , root_path  %></li>
          <% else %>
            <li><%= link_to "Login" , root_path  %></li>
            <li><%= link_to "Sign Up" , root_path  %></li>
          <% end %>
    </ul>  
      
      <%= yield %>
  </div>

</body>
</html>
